
      
    <div class="box" id="box">
        
        <h2>View Registered Students</h2>
        
        
<button (click)="onSubmit()">View</button>

        
        <table *ngIf=flag>
            <thead>
            <tr>
                <th>Student Name</th>
                <th>Student Roll</th>
                <th>Department</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
            <tbody>
            <tr *ngFor="let d of data | async">
                <td>{{d.sname}}</td>
                <td>{{d.sroll}}</td>
                <td>{{d.dpt}}</td>
                <td>{{d.email}}</td>
                <td>{{d.phno}}</td>
            </tr>
        </tbody>
            
        </table>

    </div>