body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  a {
    text-decoration: none;
  }
  .container {
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
  }
  header,
  footer {
    grid-column: 1 / -1;
  }
  
  header {
    color: #006666;
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
    gap: 1px;
  }
  header h1 {
    font-size: larger;
  }
  footer{
      grid-row: 12/13;
  }
  
  .logo {
    grid-column: 1 / 2;
    grid-row: 1/3;
    align-items: center;
  }
  .logo img {
    width: 100px;
    height: 100px;
  }
  .inamel {
    grid-column: 2/6;
    grid-row: 1/3;
    align-self: center;
  }
  .inamer {
    grid-column: 9/-2;
    grid-row: 1/3;
    text-align: right;
    align-self: center;
  }
  .bar {
    background-color: #066;
    grid-column: 1/-1;
    grid-row: 3/5;
    overflow: hidden;
  }
  header ul {
    display: inline;
    /*  background-color:green;*/
    float: right;
    padding-top: 5px;
  }
  
  header ul li {
    display: inline;
    color: white !important;
    padding: 5px;
  }
  header ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  main {
    grid-column: 2/-2;
    border: 5px black;
  }
  
  main .box{
  color: #666;
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0 10px 20px rgba(26, 194, 77, 0.19), 0 6px 6px rgba(56, 231, 94, 0.23);
  }
  .box h2{
      color: #006666;
      text-align: center;
      margin-top: 20px;
  }
  .box h3{
      color: #1f1b1b;
      margin-top: 20px;
  }
  .box label{
      margin-left: 100px;
      font-size: large;
      font-weight: bold;
  }
  .box input,textarea,select,table{
      margin-left: 50px;
      
  }
  
  .course input{
      margin-left: 0;
  }
  /* .box input[type=text]{
    text-align: center;
    width: 110px;
    height: 45px;
    color: blanchedalmond;
    background-color: #006666;
    border-radius: 7px;
    margin-left: 400px;
    margin-top: 40px;
} */

  .box input[type=submit]{
      text-align: center;
      width: 110px;
      height: 45px;
      color: blanchedalmond;
      background-color: #006666;
      border-radius: 7px;
      margin-left: 400px;
      margin-top: 40px;
  }
  .box input[type=submit]:hover{
      width: 115px;
      height: 49px;
      color: blanchedalmond;
      background-color: #3b4444;
  
  }
  .box input[type=button]{
    text-align: center;
    width: 110px;
    height: 45px;
    color: blanchedalmond;
    background-color: #f10101;
    border-radius: 7px;
    margin-left: 400px;
    margin-top: 40px;
}
.box input[type=button]:hover{
    width: 115px;
    height: 49px;
    color: blanchedalmond;
    background-color: #3b4444;

}
button{
    text-align: center;
    width: 110px;
    height: 45px;
    color: blanchedalmond;
    background-color: #006666;
    border-radius: 7px;
    margin-left: 400px;
    margin-top: 40px;
}

  
  .box form{
      border:  black 5px;
  }
  
  .box .course{
      visibility: hidden;
  }
  
  main .disp{
      display: block;
      color: #006666;
      text-align: center;
      margin-top: 250px;
      font-size: larger;
      
  
  }
  
  input.ng-invalid{
      border: 1px solid red;
      
  }

  input.ng-valid{
    border: 2px solid green;
}

.error{
    color: red;
}
.errorbtn{
    color: red;
}



