<div class="box" id="box">
    <a id="reg"></a>
    <h2>Student Registration</h2>
    <form [formGroup]="myform" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td colspan="2">
                    <h3>Enter the Details</h3>
                </td>
            </tr>
            <tr>
                <td><label for="name">Student Name</label></td>
                <td ><input type="text" formControlName="sname" required></td>
                <td> 
                    <div *ngIf="myform.controls['sname'].invalid && myform.controls['sname'].touched"
                        class="error">
                        <div *ngIf="myform.controls['sname'].errors?.required">
                            Required Field
                        </div>
                        <div *ngIf="myform.controls['sname'].errors?.pattern">
                            Only letters
                        </div>
                    </div>
                </td>
                    
                
            </tr>
            <tr>
                <td><label for="sroll">Student Roll</label></td>
                <td><input type="text" formControlName="sroll" required></td>
                <td><div *ngIf="myform.controls['sroll'].invalid && myform.controls['sroll'].touched"
                    class="error">
                    <div  *ngIf="myform.controls['sroll'].errors?.required">
                        Required Field
                    </div>
                    <div *ngIf="myform.controls['sroll'].errors?.pattern">
                        Only Numbers
                    </div>
                    
                </div></td>
            </tr>
            <tr>
                <td><label for="dpt">Department</label></td>
                <td><input type="text" formControlName="dpt" required></td>
                <td><div *ngIf="myform.controls['dpt'].invalid && myform.controls['dpt'].touched"
                        class="error">
                        <div *ngIf="myform.controls['dpt'].errors?.required">
                            Required Field
                        </div>
                    </div></td>
            </tr>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input type="text" formControlName="email" required></td>
                <td><div *ngIf="myform.controls['email'].invalid && myform.controls['email'].touched"
                        class="error">
                        <div *ngIf="myform.controls['email'].errors?.required">
                            Required Field
                        </div>
                        <div *ngIf="myform.controls['email'].errors?.email">
                            Invalid Email Format
                        </div>
                    </div></td>
            </tr>

            <tr>
                <td><label for="phno">Phone Number</label></td>
                <td><input type="text" formControlName="phno" required></td>
                <td><div *ngIf="myform.controls['phno'].invalid && myform.controls['phno'].touched"
                        class="error">
                        <div *ngIf="myform.controls['phno'].errors?.required">
                            Required Field
                        </div>
                        <div *ngIf="myform.controls['phno'].errors?.pattern">
                            Only Numbers
                        </div>
                    </div></td>
            </tr>
            <tr>
                <td colspan="2" *ngIf="!myform.valid" ><input class="errbtn" type="button" value="Disabled" ></td>
                <td colspan="2" *ngIf="myform.valid"><input type="submit" value="Submit"  ></td>
                <td colspan="2"><div *ngIf="!myform.valid" class="errorbtn"> Can't Submit (Invalid Datas provided!)</div></td>
                
            </tr>
        </table>
    </form>
</div>